.char-page-container {
    background-image: linear-gradient(#ffffff, #F7DEE2);
    height: calc(100vh - 131px);
}

/* .char-page-left {
    width: 300px;
    background: red;
    margin: 20px 30px 0 50px;
} */

.char-page-right {
    /* background: blue; */
    width: 750px;
    margin: 20px 50px 0 30px;
}

.char-page-right > div {
    max-height: calc(94vh - 130px);
    overflow-y: auto;
    padding-right: 20px;
}

.char-page-profile {
    /* background: #FAF0F5;
    background: #F5E0EB;
    background: white; */
    padding: 10px;
    /* border-radius: 14px;
    border: 1px solid lightgrey; */
}
.char-page-left {
    min-width: 300px;
    margin: 20px 30px 0 50px;
    background: #FAF0F5;
    background: #F5E0EB;
    background: white;
    padding: 10px;
    border-radius: 14px;
    border: 1px solid lightgrey;
    height: fit-content;
}

.char-page-profile > img {
    border: 2px solid #4B4944 !important;
}

.char-page-profile-detail {
    color: #4B4944;
    padding: 5px 8px;
}

.char-page-creator-detail {
    color: lightgrey;
    font-size: 11px;
}
.char-page-creator-detail > span {
    color: grey;
    font-size: 12px;
}

.char-page-buttons {
    width: 90%;
    padding: 8px;
    background: #FAF0F5;
    border-radius: 10px;
    color: #4B4944;
    border: 2px solid grey;
    border-style: outset;
    font-size: 14px;
    margin-top: 10px;
}

.char-page-buttons:hover {
    background: #F0D1E1;
    border-style: inset;
}

.char-post-container {
    background: white;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid lightgrey;
}

.char-post-profile > span {
    color: lightgrey;
    font-size: 11px;
}

.char-post-profile, .char-post-body {
    color: #4B4944;
}

.char-post-body {
    padding: 8px;
}

.char-post-top {
    border-bottom: 1px solid lightgrey;
}

.char-post-buttons {
    padding: 8px;
    width: 322px;
    background: #FAF0F5;
    margin-top: 15px;
    border-radius: 10px;
    color: #4B4944;
}

.char-post-bottom {
    justify-content: space-between;
}

.char-post-buttons:hover {
    background: #F0D1E1;
}