.main-page-container {
    background-image: linear-gradient(#ffffff, #92BFB1);
    background-image: linear-gradient(#ffffff, #88D9E6);
    background-image: linear-gradient(#ffffff, #9AE5E6);
    background-image: linear-gradient(#ffffff, #74B1D2);
    height: calc(100vh - 131px);
}

.main-page {
    /* background: blue; */
    max-width: 760px;
    margin-top: 20px;
    height: calc(94vh - 130px);
    overflow-y: auto;
    padding: 10px 20px;
}

.char-main-post-buttons {
    padding: 8px;
    width: 300px;
    background: #A3CBE1;
    margin-top: 15px;
    border-radius: 10px;
    color: #4B4944;
}

.char-main-post-buttons:hover {
    background: #84BAD7;
}

.main-char-post-container {
    background: white;
    margin-bottom: 15px;
    padding: 12px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    min-width: 650px;
}

.main-char-post-delete {
    background: #A3CBE1;
    font-size: 12px;
    color: #4B4944;
    padding: 3px 5px;
    top: 7px;
    right: 7px;
    border-radius: 5px;
}

.main-char-post-delete:hover {
    background: #84BAD7;
}

.char-post-profile-world {
    font-size: 11px;
    color: #84BAD7;
    padding-left: 5px;
}