.create-message-container {
    background: #445F6E;
    padding: 15px;
    border-radius: 12px;
    font-size: 14px;
    color: white;
}

.create-message-container .far {
    top: 8px;
    right: 8px;
}

.create-message-container .far:hover {
    color: lightgrey;
}

.create-message-prompt {
    border-bottom: 1px solid white;
    padding: 5px;
}

.create-message-prompt span {
    font-size: 12px;
    color: lightgrey;
}
.create-message-container textarea {
    background: white;
    color: grey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px;
}

.create-message-submit {
    text-align: center;
    color: grey;
    background: rgb(233, 233, 233);
    padding: 8px;
    border-radius: 10px;
    margin-top: 8px;
    border: 2px solid lightgrey;
    border-style: outset;
}

.create-message-submit:hover {
    background: #C1DCEA;
    border-style: inset;
}

.user-messages-show-container {
    background: white;
    padding: 15px;
    border-radius: 14px;
    font-size: 14px;
}

.user-messages-show-top {
    background: #84BAD7;
    border-radius: 4px;
}
.user-messages-show-top > div {
    padding: 5px;
    /* background: pink; */
    margin-right: 10px;
}

.user-messages-show-seen {
    width: 25px;
    height: fit-content;
    /* background: blue; */
}
.user-messages-show-from {
    width: 150px;
    height: fit-content;
    /* background: blue; */
}
.user-messages-show-content {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    /* background: blue; */
    /* background: pink; */
}
.user-messages-show-date {
    width: 120px;
    height: fit-content;
    /* background: blue; */
}
.user-messages-show-action {
    width: 150px;
    justify-content: space-around;
    height: fit-content;
    /* background: blue; */
}

.user-messages-show-item {
    color: grey;
    border-bottom: 1px solid lightgrey;
    padding: 5px;
    font-size: 12px;
    height: fit-content;
    align-items: center;
}

.user-messages-show-actions {
    padding: 3px 5px;
    border-radius: 5px;
}

.user-messages-show-expand {
    width: 280px;
    word-wrap: break-word;
}

.user-messages-show-actions:hover {
    color: #84BAD7;
    border: 1px solid #84BAD7;
}