.world-show-container {
    height: calc(100vh - 146px);
    background-image: linear-gradient(white, lightgrey);
}

.world-show-limit {
    /* background: red; */
    margin: 0 auto;
    width: 1120px;
    /* height: calc(100vh - 180px); */
    /* overflow-y: auto; */
}

.world-show-right-limit {
    /* background: blue; */
    overflow-y: auto;
    height: calc(100vh - 230px);
    padding-right: 50px;
}

.world-show-full-name {
    font-size: 25px;
    font-weight: 600;
    background: white;
    margin: 15px 0;
}

.world-show-left {
    /* background: blue; */
    width: 270px;
}

.world-show-right {
    background: #424B54;
    width: 815px;
    margin-left: 15px;
    border-radius: 15px;
    color: white;
    /* margin-top: -15px; */
}

.world-show-details, .world-show-actions {
    padding: 10px;
    border-radius: 15px;
    background: #424B54;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.world-show-logo {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin: 0 auto;
    border: 2px solid white;
}

.world-show-logo > img {
    width: 150px;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
}

.world-show-intro {
    text-align: center;
    margin: 10px 0;
}

.world-show-others {
    font-size: 12px;
}

.world-show-seeking {
    margin: 5px;
    color: red;
}

/* .world-show-actions {
    display: flex;
} */

.world-show-action {
    border: 2px solid lightpink;
    border-style: outset;
    background: pink;
    padding: 5px 8px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.world-item-show-intro {
    font-size: 20px;
    text-align: center;
    padding: 15px;
}

.world-item-show-image > img {
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 12px;
}

.world-item-show-detail {
    padding: 15px;
    font-size: 12px;
}

.world-show-nologo {
    background: white;
    border: 1px solid lightgrey;
    width: 148px;
    height: 148px;
    color: lightgrey;
    margin: auto;
}