.world-story-show {
    /* padding: 25px; */
}

.world-story-write-container {
    background: white;
    border-radius: 12px;
    padding: 10px 25px;
    margin: 0 auto;
    width: 716px;
    color: grey;
    margin-bottom: 15px;
}

.world-story-container {
    padding: 25px;
}

.world-story-write-image > img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.world-story-write-text {
    background: rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    width: 650px;
    font-size: 12px;
}